.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-top: 5%;
}

.chat .user-photo {
    width: 13%;
    height: 43px;
    background: #555;
    border-radius: 50%;
}

.userM .chat-message, .bot .chat-message, .agent .chat-message {
    width: 70%;
    padding: 15px;
    margin: 6% 10px auto;
    border: 1px solid;
}

.userM .chat-message {
    order: -1;
    border-radius: 15px 0 15px 15px;
    background-color: #3b414a;
    color: white;
}

.bot .chat-message, .agent .chat-message {
    word-break: break-word;
    border-radius: 0 15px 15px 15px;
    background-color: white;
    color: black;
}

#send {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 10px;
    height: 30px;
    cursor: pointer;
    transform: translateX(2px);
    background-color: transparent;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 50px;
    top: 29px;
    width: 360px;
    height: 444px;
}

#mario-chat {
    align-content: stretch;
    -webkit-box-align: stretch;
    align-items: stretch;
    background-color: var(--WatsonAssistantChat-CARBON-ui-background);
    border-radius: 0;
    box-sizing: border-box;
    color: var(--WatsonAssistantChat-CARBON-text-01);
    display: -webkit-box;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    margin: 0;
    min-height: 180px;
    min-width: 320px;
    text-align: left;
    width: 100%;
}

#chat-window {
    height: 87%;
    overflow: auto;
    background: #f4f4f4;
    padding: 0.85em;
}

input {
    border: none;
    margin: 0px;
    padding: 0 0 0 0.5em;
    width: 90%;
    outline: none;
    height: 100%;
}

.buttonIn {
    width: 100%;
    height: 12%;
    position: relative;
}

.bot .user-photo {
    background-image: url(https://i.pinimg.com/originals/4c/5f/c0/4c5fc023304e73ca079705ac33c376b8.jpg);
    background-size: contain;
}

.userM .user-photo {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQZNICp8mwhEWT1e0IHbDoqdd0y2EI8RdOwQw&usqp=CAU);
    background-size: contain;
}

.transfer {
    margin: 1em 0 0 auto;
    text-align: center;
}

.material-icons {
    font-size: 32px !important;
}

.chat-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: none;
    cursor: pointer;
    background: dodgerblue;
    color: white;
    width: 60px;
    height: 60px;
    opacity: 0.8;
    transition: opacity 0.3s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5)
}

.chat-btn:hover {
    opacity: 1;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 120px;
}

.show {
    display: flex;
}

button.TestClass {
    padding: 0.85em;
    margin: 2%;
    border-radius: 15px;
    background: transparent;
    border-color: steelblue;
}